*[accesskey]::after {
    background-color: lightgrey;
    border:1px solid darkgray;
    color: black;
    margin-left: .25em;
    content: attr(accesskey);
    text-transform: uppercase;
    opacity: 0.8;
    text-align: center;
    border-radius: 4px;
    min-width: 18px;
    display: inline-block;
}
