*[accesskey]::after {
    content: ' (' attr(accesskey) ')';
    text-transform: uppercase;
}

/* Contao Logo */
#home[accesskey]::after,
    /* Symfony Debugbar close */
button[id^='sfToolbarMiniToggler']::after,
    /*Symfony debugbar open */
button[id^='sfToolbarHideButton']::after {
    content: none;
}
