button.tl_submit[accesskey] {
    position: relative;
    padding-right: 20px;
}

button.tl_submit[accesskey]::after {
    top: 4px;
    right: 5px;
    position: absolute;
    color: grey;
    content: attr(accesskey);
    text-transform: uppercase;
    font-size: 85%
}

#tl_buttons a[accesskey]::after {
    vertical-align: super;
    color: grey;
    text-transform: uppercase;
    content: ' ' attr(accesskey);
    font-size: 85%;
}

.icon-logout[accesskey]::after {
    content: ' (' attr(accesskey) ')';
    text-transform: uppercase;
}
